@model TimeTable.Models.Lesson

@{
    ViewBag.Title = "Создание";
}

<h2>Создание</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ActionLink("Создать дисциплину", "Create", "Discipline", null, new { @class = "btn m-1" })
    <div class="form-horizontal">
        <h4>Занятие</h4>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p class="control-label col-md-2"><b>Дисциплина</b></p>
            <div class="col-md-10">
                <select name="Discipline" class="form-control">
                    <option value="-1" selected>Выберите ...</option>
                    @foreach (var item in ((LessionContainer)ViewBag.Message).GetDisciplines()) {
                        <option value="@Html.DisplayFor(modelItem => item.Id)">
                            @Html.DisplayFor(modelItem => item.Name)
                        </option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Discipline, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Группы</b></p>
            <div class="col-md-10">
                <select name="Group" class="form-control">
                    <option value="-1" selected>Выберите ...</option>
                    @foreach (var item in ((LessionContainer)ViewBag.Message).GetGroups()) {
                        <option value="@Html.DisplayFor(modelItem => item.Id)">
                            @Html.DisplayFor(modelItem => item.Name)@Html.DisplayFor(modelItem => item.Year)
                        </option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Group, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Teacher, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <select name="Teacher" class="form-control">
                    <option value="-1" selected>Выберите ...</option>
                    @foreach (var item in ((LessionContainer)ViewBag.Message).GetUsers()) {
                        <option value="@Html.DisplayFor(modelItem => item.Id)">
                            @Html.DisplayFor(modelItem => item.Name)
                        </option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Teacher, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>

}