@model TimeTable.Models.Lesson

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@*
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                            <h4>Lesson</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Discipline, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Discipline, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Discipline, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Group, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Group, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Group, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Teacher, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Teacher, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Teacher, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>

    }*@

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Lesson</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Discipline, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Discipline" class="form-control">
                    <option value="-1" selected>Выберите ...</option>
                    @foreach (var item in ((LessionContainer)ViewBag.Message).GetDisciplines()) {
                        <option value="@Html.DisplayFor(modelItem => item.Id)">
                            @Html.DisplayFor(modelItem => item.Name)
                        </option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Discipline, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Group, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Group" class="form-control">
                    <option value="-1" selected>Выберите ...</option>
                    @foreach (var item in ((LessionContainer)ViewBag.Message).GetGroups()) {
                        <option value="@Html.DisplayFor(modelItem => item.Id)">
                            @Html.DisplayFor(modelItem => item.Name)@Html.DisplayFor(modelItem => item.Year)
                        </option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Group, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Teacher, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <select name="Teacher" class="form-control">
                    <option value="-1" selected>Выберите ...</option>
                    @foreach (var item in ((LessionContainer)ViewBag.Message).GetUsers()) {
                        <option value="@Html.DisplayFor(modelItem => item.Id)">
                            @Html.DisplayFor(modelItem => item.Name)
                        </option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Teacher, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}

@*
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="lesson-create-container">
            <div class="mb-3">
                <select class="w-100" name="discipline">
                    <option value="0">Выберите из дисциплину</option>
                    @foreach (var item in ((LessionContainer)ViewBag.Message).GetDisciplines()) {
                        <option value="@Html.DisplayFor(modelItem => item.Id)">
                            @Html.DisplayFor(modelItem => item.Name)
                        </option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <select class="w-100" name="group">
                    <option value="0">Выберите группу</option>
                    @foreach (var item in ((LessionContainer)ViewBag.Message).GetGroups()) {
                        <option value="@Html.DisplayFor(modelItem => item.Id)">
                            @Html.DisplayFor(modelItem => item.Name)@Html.DisplayFor(modelItem => item.Year)
                        </option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <select class="w-100" name="teacher">
                    <option value="0">Выберите преподавателя</option>
                    @foreach (var item in ((LessionContainer)ViewBag.Message).GetUsers()) {
                        <option value="@Html.DisplayFor(modelItem => item.Id)">
                            @Html.DisplayFor(modelItem => item.Name)
                        </option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
    }
*@