@model TimeTable.Models.Lesson

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить это занятие?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DisciplineText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisciplineText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeacherText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherText)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("< Вернуться к списку занятий", "Index")
        </div>
    }
</div>
