@model LessionContainer

@{
    ViewBag.Title = "Lesson";
}

<div class="editbar">
    <div class="left">
        <h2>Lesson</h2>
    </div>
    <div class="right">
        <p>
            @Html.ActionLink("Create New", "Create")
            <button id="modalBtn" class="btn">Создать</button>
        </p>

    </div>
</div>

@*<div id="modalWindow" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="lesson-create-container">
            <div class="mb-3">
                <select class="w-100">
                    <option value="0">Выберите из дисциплину</option>
                    @foreach (var item in Model.GetDisciplines()) {
                        <option value="@Html.DisplayFor(modelItem => item.Id)">
                            @Html.DisplayFor(modelItem => item.Name)
                        </option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <select class="w-100">
                    <option value="0">Выберите группу</option>
                    @foreach (var item in Model.GetGroups()) {
                        <option value="@Html.DisplayFor(modelItem => item.Id)">
                            @Html.DisplayFor(modelItem => item.Name)@Html.DisplayFor(modelItem => item.Year)
                        </option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <select class="w-100">
                    <option value="0">Выберите преподавателя</option>
                    @foreach (var item in Model.GetUsers()) {
                        <option value="@Html.DisplayFor(modelItem => item.Id)">
                            @Html.DisplayFor(modelItem => item.Name)
                        </option>
                    }
                </select>
            </div>
        </div>
        <br>
        <div class="insert">
            <button id="modalBtn" class="btn">Добавить</button>
            <input type="submit" value="Create" class="btn btn-default" />
            @using (Html.BeginForm("Create", "Lesson", FormMethod.Post)) {
                <input type="text" name="product" /><br />
                <button name="action" value="add">Создать</button>
            }
        </div>
    </div>
</div>*@

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Дисциплина", "Index", "Discipline")
        </th>
        <th>
            @Html.ActionLink("Группы", "Index", "Group")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetLessons().First().Teacher)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.GetLessons()) {
        <tr data-id="@Html.DisplayFor(modelItem => item.Id)">
            <td data-id="@Html.DisplayFor(modelItem => item.Discipline)">
                @Html.DisplayFor(modelItem => item.DisciplineText)
            </td>
            <td data-id="@Html.DisplayFor(modelItem => item.Group)">
                @Html.DisplayFor(modelItem => item.GroupText)
            </td>
            <td data-id="@Html.DisplayFor(modelItem => item.Teacher)">
                @Html.DisplayFor(modelItem => item.TeacherText)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


