@model LessionContainer

@{
    ViewBag.Title = "Lesson";
}

<div class="editbar">
    <div class="left">
        <h2>Lesson</h2>
    </div>
    <div class="right">
        @Html.ActionLink("Создать", "Create", null, new { @class = "btn m-1" })
    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Дисциплина", "Index", "Discipline")
        </th>
        <th>
            @Html.ActionLink("Группы", "Index", "Group")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetLessons().First().Teacher)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.GetLessons()) {
        <tr data-id="@Html.DisplayFor(modelItem => item.Id)">
            <td data-id="@Html.DisplayFor(modelItem => item.Discipline)">
                @Html.DisplayFor(modelItem => item.DisciplineText)
            </td>
            <td data-id="@Html.DisplayFor(modelItem => item.Group)">
                @Html.DisplayFor(modelItem => item.GroupText)
            </td>
            <td data-id="@Html.DisplayFor(modelItem => item.Teacher)">
                @Html.DisplayFor(modelItem => item.TeacherText)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


