@*@model IEnumerable<TimeTable.Models.Timetable>*@
@model IEnumerable<TimeTable.Models.Timetable>
@{
    ViewBag.Title = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    $(document).on('change', '#group-select', function () {
        var selected = $(this).find('option:selected');
        if (selected.length != 0) {
            window.location.href = "?group_id=" + selected.val();
        }
    });
</script>
<div class="editbar">
    <div class="left">
        <select name="Group" id="group-select" class="form-control mt-2">
            <option value="-1" selected>Группы ...</option>
            @foreach (var item in ((List<TimeTable.Models.Group>)ViewBag.Group)) {
                if ((int)ViewBag.ActiveGroup == item.Id) {
                    <option value="@Html.DisplayFor(modelItem => item.Id)" selected>
                        @Html.DisplayFor(modelItem => item.Name)@Html.DisplayFor(modelItem => item.Year)
                    </option>
                } else {
                    <option value="@Html.DisplayFor(modelItem => item.Id)">
                        @Html.DisplayFor(modelItem => item.Name)@Html.DisplayFor(modelItem => item.Year)
                    </option>
                }
            }
        </select>
    </div>
    <div class="right">
        @Html.ActionLink("Создать", "Create", null, new { @class = "btn m-1" })
    </div>
</div>

<table class="js-timetable">
    <tr class="js-timetable-time">
        <th width="12%">Время</th>
        <th width="17%">Понедельник</th>
        <th width="17%">Вторник</th>
        <th width="17%">Среда</th>
        <th width="17%">Четверг</th>
        <th width="17%">Пятница</th>
    </tr>
    @foreach (var item in (List<TimeTableLine>)ViewBag.Pairs) {
        <tr>
            <td>@Html.Label(item.timeStart)-@Html.Label(item.timeEnd)</td>
            @foreach (var i in item.pairs) {
                <td>
                    <div>@Html.DisplayFor(modelItem => i.LessonText) <b>@(i.Numerator ? "ч" : "з")</b></div>
                    <div class="teacher"><b>@Html.DisplayFor(modelItem => i.TeacherText)</b></div>
                    <div class="locate">@Html.DisplayFor(modelItem => i.Location)</div>
                </td>
            }
        </tr>
    }
</table>

<div>
    <p>
        @Html.ActionLink("Расписание", "Timetable")
    </p>
</div>