@model IEnumerable<TimeTable.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.ActionLink("Group", "Index", "Group")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr data-id="@Html.DisplayFor(modelItem => item.Id)">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td data-id="@Html.DisplayFor(modelItem => item.Group)">
            @Html.DisplayFor(modelItem => item.GroupText)
        </td>
        <td data-id="@Html.DisplayFor(modelItem => item.UserType)">
            @Html.DisplayFor(modelItem => item.UserTypeText)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
